*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
header{
    width: 100%;
    display: flex;
    background: black;
    justify-content: space-between;
    position: fixed;
}
.logo{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin: 15px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.logo:hover{
    scale: 85%;
}
.button{
    position: relative;
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background: none;
    border: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.button:hover{
    scale: 115%;
}
.button.pushed .butt{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.4s linear;
}
.button .butt{
    height: 3px;
    width: 100%;
    background: white;
    transition: all 0.4s linear;
}
.button.pushed .butt:nth-child(1){
    transform: rotate(225deg);
}
.button.pushed .butt:nth-child(2){
    transform: rotate(315deg);
    opacity: 0%;
}
.button.pushed .butt:nth-child(3){
    transform: rotate(315deg);
}
main{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu{
    padding: 0;
    margin: 0;
    top: 83px;
    position: fixed;
    display: flex;
    width: 300px;
    height: 100%;
    background: black;
    justify-content: center;
    align-items: center;
    right: 0;
    font-family: 'Roboto', sans-serif;
    transform: translateX(100%);
    transition: all 0.4s linear;
}
.opened{
    transform: translateX(0%);
    transition: all 0.5s hover;
}
.menu ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.menu ul li{
    width: 100%;
    list-style: none;
    width: 120%;
    transition: all 0.4s ease-in-out;
}
.menu ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.menu ul li a{
    display: block;
    padding: 25px;
}
.menu li:hover{
    transition: all  0.4s linear;
    background: rgb(22, 91, 170);
    transform: translateX(-12%);
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#todoText{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
    margin: 15px 0 15px 0;
}
.list{
    display: flex;
    min-width: 550px;
    height: auto;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 20px;
}
.list > div{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0 20px 0 20px;
}
.list>div>p{
    font-size: 19px;
}
.list>div>div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.list>div>div>button{
    display: flex;
    height: 20px;
    width: auto;
}
