html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: gray;
}
main{
    display: flex;
    justify-content: center;
}
main img{
    width: 550px;
    height: auto;
    margin-top: 250px;
}
header{
    width: 100%;
    display: flex;
    background: black;
    justify-content: space-between;
    position: fixed;
}
.logo{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    margin: 15px;
    text-decoration: none;
}
.button{
    margin: 15px;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    position: relative;
}
.button .butt{
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.4s linear;
}
.button.pushed .butt{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(50%);
}
.button.pushed .butt:nth-child(1){
    transform: rotate(225deg);
}
.button.pushed .butt:nth-child(2){
    transform: rotate(315deg);
    opacity: 0%;
}
.button.pushed .butt:nth-child(3){
    transform: rotate(315deg);
}
.menu{
    padding: 0;
    margin: 0;
    top: 83px;
    position: fixed;
    display: flex;
    width: 300px;
    height: 100%;
    background: black;
    justify-content: center;
    align-items: center;
    right: 0;
    font-family: 'Roboto', sans-serif;
    transform: translateX(100%);
    transition: all 0.4s linear;
}
.opened{
    transform: translateX(0%);
}
.menu ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.menu ul li{
    width: 100%;
    list-style: none;
}
.menu ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.menu ul li a{
    display: block;
    padding: 25px;
}
.menu li:hover{
    transition: all  0.6s linear;
    background: rgb(22, 91, 170);
}